<header class="cwb-header">
    <h1>
        <a href="/">
            <i class="fad fa-head-side-brain"></i> Cognitive Workbench
        </a>
    </h1>
    <p>
        Interactive workbench to try out Azure Cognitive Services.
    </p>
</header>

<div class="text-center">
    <h2 class="mb-5">Workbenches available for</h2>

    <p class="text-center">
        <a class="btn btn-dark my-2" asp-controller="Home" asp-action="ComputerVision">Computer Vision</a>
        <a class="btn btn-dark my-2" asp-controller="Home" asp-action="Face">Face</a>
    </p>
</div>
