<main role="main" class="pb-3">
    <div class="container">
        <header class="cwb-header">
            <h1>
                <a href="/">
                    <i class="fas fa-brain"></i> Cognitive Workbench
                </a>
            </h1>
            <p>
                Interactive workbench to try out Azure Cognitive Services.
            </p>
        </header>

        <div class="text-center">
            <h2 class="mb-3 mt-5">Workbenches available for</h2>

            <p class="text-center">
                <a class="btn btn-dark my-2" asp-controller="Vision" asp-action="ComputerVision">Computer Vision</a>
                <a class="btn btn-dark my-2" asp-controller="Vision" asp-action="Face">Face</a>
                <a class="btn btn-dark my-2" asp-controller="Vision" asp-action="CustomVision">Custom Vision</a>
            </p>
        </div>

        <div class="text-center">
            <h2 class="mb-3 mt-5">Samples provided by Microsoft</h2>

            <p class="text-center">
                <a class="btn btn-dark my-2" href="https://personalizationdemo.azurewebsites.net/">Personalizer</a>
                <a class="btn btn-dark my-2" href="https://algoevaluation.azurewebsites.net/">Anomaly Detection</a>
                <a class="btn btn-dark my-2" href="https://github.com/microsoft/Cognitive-Samples-IntelligentKiosk">Intelligent Kiosk</a>
                <a class="btn btn-dark my-2" href="https://azure.microsoft.com/en-us/services/cognitive-services/">Cognitive Services</a>
            </p>
        </div>
    </div>
</main>
