html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


html {
    position: relative;
    min-height: 100%;
}

body {
    padding: 0;
    background-color: #1e1e1e;
}

/* Navbar */

.cwb-navbar .cwb-navbar-brand {
    color: #008bc3;
}


/* Header */

.cwb-header {
    text-align: center;
    padding: 25px 0;
}

    .cwb-header h1 {
        color: #008bc3;
    }

    .cwb-header a {
        color: #008bc3;
    }

        .cwb-header a:hover {
            color: #008bc3;
            text-decoration: underline;
        }

/* Footer */
.cwb-footer {
    font-size: 0.85em;
    text-align: left;
    color: #fafafa;
    margin: 0;
    padding: 30px 0;
}

    .cwb-footer a {
        color: #fafafa;
        text-decoration: underline;
    }

        .cwb-footer a:hover {
            color: #f0f0f0;
        }

.cwb-footer-sitename {
    margin-top: 20px;
    text-align: center;
}

/* Content */

.cwb-main-content-wrapper {
    padding-top: 80px;
    min-height: 80vh;
}

/* Result */

.cwb-result-content {
}

    .cwb-result-content pre.prettyprint {
        border: none;
        margin: 0;
    }

    .cwb-result-content table {
        margin: 0;
    }

    .cwb-result-content .card-body {
        padding: 10px 0 0 0;
    }

        .cwb-result-content .card-body h3, .cwb-result-content .card-body h4 {
            margin-left: 10px;
        }

.cwb-result-image {
    position: relative;
    position: sticky;
    top: 70px;
}

/* Image boxes */

.cwb-image-boxes {
}

    .cwb-image-boxes .cwb-image-box {
        position: absolute;
        border: 1px solid #f00;
        transition: all 0.3s;
    }

.cwb-image-box .cwb-image-box-info {
    background-color: #f00;
    transition: all 0.3s;
    padding: 3px 7px;
    color: #fafafa;
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    text-transform: uppercase;
    font-size: 10px;
    transform: translateY(100%);
}

    .cwb-image-box .cwb-image-box-info .cwb-image-box-type {
        font-weight: bold;
        display: block;
    }

.cwb-image-box .cwb-image-box-metadata {
    background-color: #000;
    transition: all 0.3s;
    padding: 3px 7px;
    color: #fafafa;
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    transform: translateX(100%);
    white-space: nowrap;
    display: none;
    z-index: 10000;
}

.cwb-image-box:hover .cwb-image-box-metadata,
.cwb-image-box.active .cwb-image-box-metadata {
    display: block;
}

.cwb-image-boxes .cwb-image-box.active {
    border-color: #000;
}

.cwb-image-box.active .cwb-image-box-info {
    background-color: #000;
}

.cwb-image-boxes-brands .cwb-image-box,
.cwb-image-boxes-ocr-lines .cwb-image-box {
    border-color: #31CC43;
}

.cwb-image-boxes-brands .cwb-image-box-info,
.cwb-image-boxes-ocr-lines .cwb-image-box-info {
    background-color: #31CC43;
}

.cwb-image-boxes-objects .cwb-image-box,
.cwb-image-boxes-aoi .cwb-image-box,
.cwb-image-boxes-ocr-words .cwb-image-box {
    border-color: #008BC3;
}

.cwb-image-boxes-objects .cwb-image-box-info,
.cwb-image-boxes-aoi .cwb-image-box-info,
.cwb-image-boxes-ocr-words .cwb-image-box-info {
    background-color: #008BC3;
}

.cwb-image-boxes-faces .cwb-image-box,
.cwb-image-boxes-ocr-regions .cwb-image-box {
    border-color: #F68B1F;
}

.cwb-image-boxes-faces .cwb-image-box-info,
.cwb-image-boxes-ocr-regions .cwb-image-box-info {
    background-color: #F68B1F;
}

.cwb-image-box-metadata-table {
    width: 100%;
}

    .cwb-image-box-metadata-table td,
    .cwb-image-box-metadata-table th {
        padding: 1px 4px;
    }

.cwb-image-box-metadata-table-header:not(:first-of-type) th {
    padding-top: 10px;
}

.cwb-image-box-landmarks {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

    .cwb-image-box-landmarks .cwb-image-box-landmarks-landmark {
        position: absolute;
        width: 3px;
        height: 3px;
        transform: translateX(-1px) translateY(-1px);
        border-radius: 50%;
        background-color: #f00;
        display: none;
    }

.cwb-image-box:hover .cwb-image-box-landmarks-landmark,
.cwb-image-box.active .cwb-image-box-landmarks-landmark {
    display: block;
}
/* Misc */
.cwb-color-sample-block {
    min-width: 40px;
    min-height: 20px;
    width: 100%;
    height: 100%;
}
