@model VisionIndexViewModel

<h2>Vision</h2>

<p>
    Identify and analyze content within images.
</p>

<p>
    <ul>
        <li>Analyze</li>
        <li>OCR</li>
        <li>Landmarks</li>
        <li>Celebrities</li>
    </ul>
</p>

<p>
    IsAnalyzed: @Model.IsAnalyzed
</p>
