@model Microsoft.Azure.CognitiveServices.Language.TextAnalytics.Models.KeyPhraseResult

<div class="mb-5">
    <h4>Key Phrases</h4>

    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Key Phrase</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var keyPhrase in Model.KeyPhrases)
            {
                <tr>
                    <th>@keyPhrase</th>
                </tr>
            }
        </tbody>
    </table>

    @if (!Model.KeyPhrases.Any())
    {
        <p class="p-2">
            No key phrases available.
        </p>
    }
</div>
